<%= form_for @question, class: "form-horizontal" do |f| %>
  <div class="form-group">
    <h1 class="text-center">Edit This Question</h1>

    <div class="text-center">
      <%= f.label :q, "Question", class: "control-label" %>
      <%= f.text_field :q %>
    </div>

    <div class="text-center">
      <%= f.submit 'Submit Changes', class: "btn btn-lg btn-success" %>
      <%= link_to 'Delete Question', question_path(@question), method: :delete, class: "btn btn-lg btn-danger" %>
    </div>

  </div>
<% end %>


