<%= form_tag(sessions_path, method: :post, class: "form-horizontal") do %>
  <div class="form-group">
    <p class="alert-error"><%= flash[:notice] %></p>

    <h1 class="text-center">Sign in</h1>

    <div class="col-sm-offset-5 col-sm-10">
      <%= label_tag :email, nil, class: "col-sm-5 control-label" %>
      <%= email_field_tag :email, '', autofocus: true %>
    </div>

    <div class="col-sm-offset-5 col-sm-10">
      <%= label_tag :password, nil, class: "col-sm-5 control-label" %>
      <%= password_field_tag :password %>
    </div>

    <div class="text-center">
      <%= submit_tag "Sign in", class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>










