<%= form_for @user, html: {class: "form-horizontal"} do |f| %>

  <div class="form-group">
    <h1 class="text-center">Welcome! Please Register</h1>


    <div class="row">
      <div class="text-center">
        <p class="alert-error"><%= flash[:notice] %></p>
        <% @user.errors.full_messages.each do |error| %>
          <p class="alert-error"><%= error %></p>
        <% end %>
      </div>
    </div>

    <div class="col-sm-offset-5 col-sm-10" style="padding-top: 1%;">
      <%= f.label :email, class: "col-sm-5 control-label" %>
      <%= f.email_field :email %>
    </div>
    <div class="col-sm-offset-5 col-sm-10">
      <%= f.label :password, class: "col-sm-5 control-label" %>
      <%= f.password_field :password %>
    </div>

    <div class="col-sm-offset-5 col-sm-10">
      <%= f.label :password_confirmation, class: "col-sm-5 control-label" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="text-center">
      <%= f.submit :Register, class: "btn btn-primary btn-lg" %>
    </div>
  </div>

<% end %>



