<h1>Welcome</h1>

<%= link_to 'Create New Question', new_question_path %>

<% if current_user %>
  <h3>Hello <%= @user.email %>!</h3>
  <h3><%= link_to 'Sign out', session_path(@user), method: :delete %></h3>
<% else %>
  <h3><%= link_to 'Register', new_user_path(@user) %></h3>
  <h3><%= link_to 'Sign in', new_session_path(@user) %></h3>
<% end %>

<%= flash[:notice] %>